p 
  | Welcome to my page! I am a software developer based in Austin, Texas. 
  | I have been coding since I was a child, and love to create things.
  | Check out my projects and github!


h2 Projects
ul
  li 
    a evo
  li 
    a puzzle-league

h2 Links
ul
  li 
    a(href='http://github.com/aprowe') github/aprowe
  li 
    a(href='linkedin.com') linkedIn
  li 
    a npm
  
